<div class = "course-books">

	<a class = "mml" href="https://mml-book.github.io/book/mml-book.pdf"> <i data-feather="book"></i>
		<span class = "book-title"> Mathematics for Machine Learning</span>
		</a>
		<span class = "book-author"> Deisenroth, A. Aldo Faisal, and Cheng Soon Ong </span>
	<br/>
	
	<a class = "hands" href= "https://bradleyboehmke.github.io/HOML/"> <i data-feather="book"></i>
		<span class = "book-title"> Hands-On Machine Learning with R </span>
	</a>
		<span class = "book-author"> Bradley Boehmke & Brandon Greenwell </span> 
		<br/>

	<a class = "isl" href="https://www.statlearning.com/s/ISLRSeventhPrinting.pdf"> <i data-feather="book"></i>
		<span class = "book-title"> An Introduction to Statistical Learning </span>
	</a>
		<span class = "book-author"> Garet James, Daniela Witten, Trevor Hastie, Robert Tibshirani</span>
		<br/>
		
			<a class = "esl" href="http://web.stanford.edu/~hastie/ElemStatLearn/printings/ESLII_print12_toc.pdf"> <i data-feather="book"></i>
		<span class = "book-title"> The Elements of Statistical Learning </span>
	</a>
		<span class = "book-author"> Trevor Hastie, Robert Tibshirani, Jerome Friedman </span>
		<br/>


	<a class = "feat" href= "http://www.feat.engineering/"> <i data-feather="book"></i>
		<span class = "book-title"> Feature Engineering and Selection</span>
	</a>
		<span class = "book-author"> Max Kuhn and Kjell Johnson</span> 
    <br/>
    

</div>