{{ $arg1 := (.Get 0) }}

{{ if eq  $arg1 "" }}

	-

{{ else }}

<!-- Create correct link -->
	{{ if eq $arg1 "hands" }}

		<span class = "readings"><a class = "hands" href= "https://bradleyboehmke.github.io/HOML/{{ .Get 1 }}"> <i data-feather="book"></i> {{ .Get 2 }} </a></span>

	{{ else if eq $arg1 "mml" }}

		<span class = "readings"><a class = "mml" href="https://mml-book.github.io/book/mml-book.pdf{{ .Get 1 }}"> <i data-feather="book"></i> {{ .Get 2 }} </a></span>
	
	{{ else if eq $arg1 "isl" }}

		<span class = "readings"><a class = "isl" href="https://www.statlearning.com/s/ISLRSeventhPrinting.pdf{{ .Get 1 }}"> <i data-feather="book"></i> {{ .Get 2 }} </a></span>

	{{ else if eq $arg1 "esl" }}

		<span class = "readings"><a class = "esl" href= "http://web.stanford.edu/~hastie/ElemStatLearn/printings/ESLII_print12_toc.pdf{{ .Get 1 }}"> <i data-feather="book"></i> {{ .Get 2 }} </a></span>

	{{ else if eq $arg1 "feat" }}

		<span class = "readings"><a class = "feat" href="http://www.feat.engineering/{{ .Get 1 }}"> <i data-feather="book"></i> {{ .Get 2 }} </a></span>

	{{end}}



{{ end }}
